@keyframes no_padding{

    100%{
       margin: 0px;
    }
};


@keyframes changeLine1{

    0%{
        background-position: 300px 100px;
    }

    100%{
        background-position: 300px 200px;
    }
}
@keyframes changeLine2{

    0%{
        background-position: 0 100px;
    }

    100%{
        background-position: 0 0;
    }
}
@keyframes changeLine3{

    0%{
        background-position: 200px 100px;
    }

    100%{
        background-position: 200px 0;
    }
}
@keyframes changeLine4{

    0%{
        background-position: 100px 300px;
    }

    100%{
        background-position: 500px 200px;
    }
}


//animation 4 - rotate sprite

@keyframes rotateLeft{
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes rotateRight{
    100%{
        transform: rotate(360deg);
    }
}



div.firstLine {

    .sign{
        animation: no_padding 1s 13s forwards;
    }

    .sprite{
         animation:  no_padding, changeLine1, rotateLeft;
         animation-duration:  1s, 1ms, 5s;
         animation-delay: 13s, 17s, 19s;
         animation-fill-mode: forwards;

    }
}
div.secondLine {

    .sign{
        animation: no_padding 1s 14s forwards;
    }

    .sprite{
         animation:  no_padding, changeLine2, rotateRight;
         animation-duration:  1s, 1ms, 5s;
         animation-delay: 14s, 17.5s, 19.5s;
         animation-fill-mode: forwards;
    }
}
div.thirdLine {

    .sign{
        animation: no_padding 1s 15s forwards;
    }

    .sprite{
         animation:  no_padding, changeLine3, rotateLeft;
         animation-duration:  1s, 1ms, 5s;
         animation-delay: 15s, 18s, 20s;
         animation-fill-mode: forwards;
    }
}
div.fourthLine {

    .sign{
        animation: no_padding 1s 16s forwards;
    }

    .sprite{
        animation:  no_padding, changeLine4, roateRight;
         animation-duration:  1s, 1ms, 5s;
         animation-delay: 16s, 18.5s, 20.5s;
         animation-fill-mode: forwards;
    }
}