@import "reset";

@import "animation2_3";
@import "animation1";


.container{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: 0 auto;

}


.sprite{  //class for whole sprite.png
    background-image: url('../images/sprite.png');
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 100px;
    
}

.sign{ 
        font-size: 48px;
        line-height: 2em;
        position: absolute;
        font-family: Arial, sans-serif; 
        float: left;
        width: 60%;
        height: 100%;
        text-align: left;
        opacity: 1;
        margin-left: 100px;
}
.firstLine{ //candy canes line 
    position: absolute;
    width: 100%;
    top: -100px;

}
.firstLine .sprite{
    background-position: 300px 100px;
}

.secondLine{ //cake tootsie line
   
    position: absolute;
    width: 100%;
    top: -100px;

}

.secondLine .sprite{
    background-position:  0 100px;
}

.thirdLine{ //gummies candy line

    position: absolute;
    width: 100%;
    top: -100px;

}

.thirdLine .sprite{
    background-position: 200px 100px;
}

.fourthLine{ //halvah cookie line
   
    position: absolute;
    width: 100%;
    top: -100px;

}

.fourthLine .sprite{
    background-position: 100px 300px;
}


.chocolate, .danish, .sweetroll{
    opacity: 0;
}

.chocolate{
    position: absolute;
    top: 100px;
    left: 300px;
    height: 100px;
    font-family: 'Arial', sans-serif;
}

.danish{
    position: absolute;
    top: 330px;
    left: 300px;

    height: 100px;
    font-family: 'Lobster', cursive;

}

.sweetroll{
    position: absolute;
    top: 200px;
    left: 350px;
    height: 100px;

    font-family: 'Arial', sans-serif;

}