@import "reset";
@import "animation1_4";
@import "animation2_3_4";
@import "animation5_6";

body{
    width: 100%;
}
.container{
    width: 1000px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    overview: hidden;

}


.sprite{  //class for whole sprite.png
    background-image: url('../images/sprite.png');
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 100px;

}

.sign{
        font-size: 48px;
        line-height: 2em;
        position: absolute;
        font-family: Arial, sans-serif;
        float: left;
        width: 60%;
        height: 100%;
        text-align: left;
        opacity: 1;
        margin-left: 100px;
}
.firstLine{ //candy canes line
    position: absolute;
    width: 100%;
    top: -100px;

}
.firstLine .sprite{
    background-position: 300px 100px;
}

.secondLine{ //cake tootsie line

    position: absolute;
    width: 100%;
    top: -100px;

}

.secondLine .sprite{
    background-position:  0 100px;
}

.thirdLine{ //gummies candy line

    position: absolute;
    width: 100%;
    top: -100px;

}

.thirdLine .sprite{
    background-position: 200px 100px;
}

.fourthLine{ //halvah cookie line

    position: absolute;
    width: 100%;
    top: -100px;

}

.fourthLine .sprite{
    background-position: 100px 300px;
}

// .chocolate, .danish, .sweetroll{
//     opacity: 0;
// }

.chocolate{
    position: absolute;
    top: 30%;
    left: 350px;
    opacity: 0;
    width: 40%;
    height: 100px;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    margin:0 auto;
    text-align: center;
}

.danish{
    position: absolute;
    opacity: 0;
    top: 60%;
    left: 350px;
    width: 40%;
    height: 100px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    margin:0 auto;
    text-align: center;

}

.sweetroll{
    border: 1px solid black;
    position: absolute;
    font-size: 20px;
    // padding: 0 2px;
    top: -100px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
